{% extends 'base.html.twig' %}

{% block title %}Approuver un ingrédient{% endblock %}

{% block body %}
<div class="delete-content">
    {{form_start(formDelete)}}
    <div class="card">
        <div class="card-header">
            <b>Attention !</b>
        </div>
        <div class="card-body">
            <p class="card-text my-4">
            Tu es sur le point de valider
                {% if malt is defined %}le malt <b>{{malt.name}}</b>{% endif %}
                {% if hop is defined %}le houblon <b>{{hop.name}}</b>{% endif %}
                {% if other is defined %}l'ingrédient <b>{{other.name}}</b>{% endif %}
                {% if yeast is defined %}la levure <b>{{yeast.name}}</b>{% endif %}. Es-tu sûr ?</p>
            <div class="row mt-5">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary">Oui, c'est pour ça que j'ai cliqué !</button>
                </div>
                <div class="col text-left">
                    {% if malt is defined %}
                        <a href="{{ path('admin_home')}}" class="btn btn-primary">Non ! Je me suis trompé !</a>
                    {% elseif hop is defined %}
                        <a href="{{ path('admin_home')}}" class="btn btn-primary">Non ! Je me suis trompé !</a>
                    {% elseif other is defined %}
                        <a href="{{ path('admin_home')}}" class="btn btn-primary">Non ! Je me suis trompé !</a>
                    {% elseif yeast is defined %}
                        <a href="{{ path('admin_home')}}" class="btn btn-primary">Non ! Je me suis trompé !</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{form_end(formDelete)}}
</div>
{% endblock %}