<div class="row mt-5">
    <div class="col-9 mx-auto">
        <a class="btn btn-success btn-lg btn-block" href="{{path('admin_home')}}">Accueil Administration</a>
    </div>
</div><div class="row mt-3">
    <div class="col-9 mx-auto">
        <a class="btn btn-success btn-lg btn-block" href="{{path('malts')}}">Malts</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col-9 mx-auto">
        <a class="btn btn-success btn-lg btn-block" href="{{path('hops')}}">Houblons</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-9 mx-auto">
        <a class="btn btn-success btn-lg btn-block" href="{{path('others')}}">Autres ingrédients</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-9 mx-auto">
        <a class="btn btn-success btn-lg btn-block" href="{{path('yeasts')}}">Levures</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col-9 mx-auto">
        <a class="btn btn-primary btn-lg btn-block" href="{{path('add_tutorial')}}">Ajouter un tutoriel</a>
    </div>
</div>