<div class="col mx-auto">
    <a class="btn btn-success btn-lg btn-block fs-3" href="{{path('admin_home')}}">Accueil <span class="d-none d-lg-inline">Administration</span></a>
</div>
<div class="col mx-auto">
    <a class="btn btn-success btn-lg btn-block fs-3" href="{{path('malts')}}">Malts</a>
</div>
<div class="col mx-auto">
    <a class="btn btn-success btn-lg btn-block fs-3" href="{{path('hops')}}">Houblons</a>
</div>
<div class="col mx-auto">
    <a class="btn btn-success btn-lg btn-block fs-3" href="{{path('others')}}">Autres <span class="d-none d-lg-inline">ingrédients</span></a>
</div>
<div class="col mx-auto py-auto">
    <a class="btn btn-success btn-lg btn-block fs-3" href="{{path('yeasts')}}">Levures</a>
</div>
<div class="row mx-auto mt-3">
    <a class="btn btn-primary btn-lg btn-block fs-3" href="{{path('add_tutorial')}}">Ajouter un tutoriel</a>
</div>
