{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% form_theme formEditProfile 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="main-container form mx-auto pt-5" id="edit-profile">
{{ form_start(formEditProfile) }}

{{ form_row(formEditProfile.email) }}
{{ form_row(formEditProfile.username) }}
<div class="row">
    <div class="col-9">
        {{ form_row(formEditProfile.avatar)}}
    </div>
    <div class="edit-profile-avatar ml-5">
        <img src="{{ asset('build/avatars/')}}{{user.avatar|default('default.png')}}" />
    </div>
</div>
<div class="text-center">
    <button type="submit" class="btn btn-success mt-3">Modifier</button>
</div>
{{ form_end(formEditProfile) }}
</div>
{% endblock %}